<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bellota+Text&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'todoApp/todoImg1.jpg' %}">
    <script>
       body {
             font-family: 'Bellota Text', cursive;
       }
    </script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
         <img src="{% static 'todoApp/todoImg1.jpg' %}" width="30" height="30" class="d-inline-block align-top">
        <span>Daily Todo</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if user.is_authenticated %}
             <div class="navbar-header text-capitalize text-success">
                {{ user.username }}
             </div>
        <ul class="nav justify-content-center">
           <li class="nav-item"><a class="nav-link text-dark" href="{% url 'createtodos' %}">Create</a></li>
           <li class="nav-item"><a class="nav-link text-dark" href="{% url 'currenttodos' %}">Current</a></li>
           <li class="nav-item"><a class="nav-link text-dark" href="{% url 'completedtodos' %}">Completed</a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
           <li class="nav-item">
               <form action="{% url 'logoutuser'%}" method="POST">
               {% csrf_token %}
               <button type="submit" class="btn btn-success">LOGOUT</button>
               </form>
           </li>
        </ul>
        {% else %}
        <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'signupuser' %}">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'loginuser' %}">Login</a>
                </li>
        </ul>
        {% endif %}
        </div>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>