{% extends 'todoApp/base.html' %}

{% block content %}
<div class="alert alert-danger" role="alert">
  <h1 class="text-center "> DAILY ACTIVITY SHOULD BE FOLLOWED BY EVERYONE TO AVOID CORONA VIRUS</h1>
</div>
<div class="list-group p-10 text-dark">
  <li class="list-group-item list-group-item-light"><b>Wash your hands frequently</b></li>
    <li class="list-group-item list-group-item-light"><b>Maintain social distancing</b></li>
    <li class="list-group-item list-group-item-light"><b>Avoid touching eyes, nose and mouth</b></li>
    <li class="list-group-item list-group-item-light"><b>Practice respiratory hygiene</b></li>
    <li class="list-group-item list-group-item-light"><b>If you have fever, cough and difficulty breathing, seek medical care early</b></li>

</div>
{% endblock %}